<!-- Nav -->
<nav id="nav">
    <!--

        Prologue's nav expects links in one of two formats:

        1. Hash link (scrolls to a different section within the page)

           <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

        2. Standard link (sends the user to another page/site)

           <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

    -->
    <ul>
        {% include sidebar/top/navigation/links.html %}
    </ul>
</nav>