{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "declaration-empty-line-before": [
      "never",
      {
        "ignore": [
          "after-comment",
          "after-declaration",
          "inside-single-line-block"
        ]
      }
    ]
  }
}
