<!DOCTYPE html>
<html data-prerender>
  <head>
    <meta charset="utf-8" />
    <title>About Page</title>
    <script type="module" src="/src/components/Navbar.js"></script>
    <script
      type="module"
      src="/node_modules/@a11y/skip-navigation/index.js"
    ></script>
  </head>
  <body>
    <skip-button></skip-button>
    <kepler-navbar data-hydrate></kepler-navbar>
    <skip-anchor></skip-anchor>
    <main>
      <p>This is going to be the about page!</p>
    </main>
  </body>
</html>
