<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog Index</title>
    <script type="module" src="/src/components/BlogIndex.js"></script>
    <script type="module" src="/src/components/Navbar.js"></script>
    <script
      type="module"
      src="/node_modules/@a11y/skip-navigation/index.js"
    ></script>
  </head>
  <body>
    <skip-button></skip-button>
    <kepler-navbar></kepler-navbar>
    <skip-anchor></skip-anchor>
    <main>
      <h1>Blog</h1>
      <kepler-blog-index json="{{postsJson}}"></kepler-blog-index>
    </main>
  </body>
</html>
