<!DOCTYPE html>
<html data-prerender>
  <head>
    <meta charset="utf-8" />
    <title>Kepler Sticka-Jones</title>
    <script type="module" src="/src/components/Hero.tsx"></script>
    <script type="module" src="/src/components/Markdown.tsx"></script>
  </head>
  <body>
    <kepler-hero data-hydrate></kepler-hero>
    <section>
      <h1>Biography</h1>
      <kepler-markdown src="{{biographyMarkdownUrl}}" data-hydrate>
      </kepler-markdown>
      <a href="/about">Read More...</a>
    </section>
  </body>
</html>
