<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kepler Sticka-Jones</title>
    <script type="module" src="/src/components/Hero.js"></script>
    <script type="module" src="/src/components/Markdown.js"></script>
  </head>
  <body>
    <kepler-hero data-hydrate></kepler-hero>
    <section>
      <h1>Biography</h1>
      <kepler-markdown data-hydrate>
        <!-- prettier-ignore -->
        <script slot="content" type="text/markdown">{{{rawBiographyFile}}}</script>
      </kepler-markdown>
      <a href="/about">Read More...</a>
    </section>
  </body>
</html>
