<!-- Contact -->
<section id="contact" class="main style3 secondary">
  <div class="content container">
    <header>
      <h2>Say Hello.</h2>
      <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
    </header>
    <div class="box container 75%">
      <!-- Contact Form -->
      <form method="post" action="#">
        <div class="row 50%">
          <div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" /></div>
          <div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email" /></div>
        </div>
        <div class="row 50%">
          <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="actions">
              <li><input type="submit" value="Send Message" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
