<!-- One -->
<section id="one" class="main style2 right dark fullscreen">
  <div class="content box style2">
    <header>
      <h2>What I Do</h2>
    </header>
    <p>When not in school, studying, or volunteering in my community I enjoy
      researching and experimenting with technology. This experimentation has
      helped me develop the skills nessacery for developing software and working
      in an organization.</p>
  </div>
  <a href="#two" class="button style2 down anchored">Next</a>
</section>
