<!-- Work -->
<section id="work" class="main style3 primary">
  <div class="content container">
    <header>
      <h2>My Work</h2>
      <p>Below you will find some of the work I've done, which I'm most proud
        of. Each had their own obsticles to overcome and helped me learn a
        variety of different skills.</p>
    </header>
    <!-- Lightbox Gallery  -->
    <div class="container 75% gallery">
      <div class="row 0% images">
        <div class="6u 12u(mobile)"><a href="images/fulls/01.jpg" class="image fit from-left"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a></div>
        <div class="6u 12u(mobile)"><a href="images/fulls/02.jpg" class="image fit from-right"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a></div>
      </div>
      <div class="row 0% images">
        <div class="6u 12u(mobile)"><a href="images/fulls/03.jpg" class="image fit from-left"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a></div>
        <div class="6u 12u(mobile)"><a href="images/fulls/04.jpg" class="image fit from-right"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a></div>
      </div>
      <div class="row 0% images">
        <div class="6u 12u(mobile)"><a href="images/fulls/05.jpg" class="image fit from-left"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a></div>
        <div class="6u 12u(mobile)"><a href="images/fulls/06.jpg" class="image fit from-right"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a></div>
      </div>
    </div>
  </div>
</section>
