<div class="btn-group">
	<a type="button" class="btn btn-default btn-lg" href="{{ page.base_url }}blog/">Blog</a>
	<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></button>
		<ul class="dropdown-menu" role="menu">
			{% include projects-dropdown.html %}
  		</ul>
  	<button type="button" class="btn btn-default btn-lg" disabled="disabled">Contact</button>
  	<button type="button" class="btn btn-default btn-lg" disabled="disabled">About</button>
</div>