<li><a href="{{ page.base_url }}/projects/define">Define</a></li>
<li><a href="{{ page.base_url }}/projects/singingsiri">singingSiri</a></li>
<li class="divider"></li>
<li class="dropdown-header">Minecraft Mods</li>
<li><a href="{{ page.base_url }}/projects/minecraft/mods/alfred">Alfred</a></li>
<li><a href="{{ page.base_url }}/projects/minecraft/mods/boatcraft">BoatCraft</a></li>
<li><a href="{{ page.base_url }}/projects/minecraft/mods/oreencyclopedia">OreEncyclopedia</a></li>
<li class="dropdown-header">Minecraft Mod Packs</li>
<li><a href="{{ page.base_url }}/projects/minecraft/packs/minekraft">mineKraft</a></li>
<li><a href="{{ page.base_url }}/projects/minecraft/packs/kup">Kepler's Ultimate Pack</a></li>
<li><a href="{{ page.base_url }}/projects/minecraft/packs/kep">Kepler's Electrical Park</a></li>
