<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        {% include navigation.html %}
        <div id="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer role="contentinfo">{% include footer.html %}</footer>
  </body>
</html>
